<h2> Creazione serie storica dei decessi giornalieri dal 2015 al 30 giugno 2020 dei 7357 comuni italiani su un totale di 7904 comuni

In [6]:
import pandas as pd
df = pd.read_csv('csv/decessi_istat_7357comuni.csv')
df.head()

,REG,NOME_REGIONE,PROV,NOME_PROVINCIA,COD_PROVCOM,NOME_COMUNE,DATA,TOTALE
0,1,Piemonte,1,Torino,1001,Agliè,2018-01-02,1
1,1,Piemonte,1,Torino,1001,Agliè,2016-01-04,1
2,1,Piemonte,1,Torino,1001,Agliè,2020-01-05,1
3,1,Piemonte,1,Torino,1001,Agliè,2015-01-06,1
4,1,Piemonte,1,Torino,1001,Agliè,2018-01-06,2

Per poter sommare il campo `Totale` in base al valore del campo `Data` è necessario rendere i parametri del campo `Data` di tipo `datetime` e i parametri del campo `Totale` di tipo `int64`, così da poter creare una <b>serie storica</b> dove per ogni data giornaliera dal <b>1 gennaio 2015</b> al <b>30 giugno 2020</b> venga indicato il numero totale dei decessi registrati nei comuni presenti nel DataFrame iniziale.

In [7]:
df['DATA'] = pd.to_datetime(df['DATA'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2043128 entries, 0 to 2043127
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   REG             int64
 1   NOME_REGIONE    object
 2   PROV            int64
 3   NOME_PROVINCIA  object
 4   COD_PROVCOM     int64
 5   NOME_COMUNE     object
 6   DATA            datetime64[ns]
 7   TOTALE          int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 124.7+ MB

In [9]:
df.drop(['REG', 'NOME_REGIONE', 'PROV', 'NOME_PROVINCIA', 'COD_PROVCOM', 'NOME_COMUNE'], axis=1, inplace=True)
df.head()

        DATA  TOTALE
0 2018-01-02       1
1 2016-01-04       1
2 2020-01-05       1
3 2015-01-06       1
4 2018-01-06       2

In [10]:
df=df.groupby('DATA').sum()
df.head()

            TOTALE
DATA
2015-01-01    2508
2015-01-02    2079
2015-01-03    2107
2015-01-04    2135
2015-01-05    2199

In [11]:
df.to_csv('csv/serie_storica.csv')