<h2>Creazione serie storica dei decessi delle 8 province complete dal 2015 al 30 giugno 2020

In [1]:
import pandas as pd
df = pd.read_csv('csv/df_comuni_completi.csv')
df.head()

,REG,NOME_REGIONE,PROV,NOME_PROVINCIA,COD_PROVCOM,NOME_COMUNE,DATA,TOTALE
0,3,Lombardia,14,Sondrio,14001,Albaredo per San Marco,2018-01-15,1
1,3,Lombardia,14,Sondrio,14001,Albaredo per San Marco,2018-01-20,1
2,3,Lombardia,14,Sondrio,14001,Albaredo per San Marco,2020-01-29,1
3,3,Lombardia,14,Sondrio,14001,Albaredo per San Marco,2015-01-30,1
4,3,Lombardia,14,Sondrio,14001,Albaredo per San Marco,2017-02-15,1

In [2]:
df['DATA'] = pd.to_datetime(df['DATA'])

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87108 entries, 0 to 87107
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   REG             87108 non-null  int64
 1   NOME_REGIONE    87108 non-null  object
 2   PROV            87108 non-null  int64
 3   NOME_PROVINCIA  87108 non-null  object
 4   COD_PROVCOM     87108 non-null  int64
 5   NOME_COMUNE     87108 non-null  object
 6   DATA            87108 non-null  datetime64[ns]
 7   TOTALE          87108 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 5.3+ MB

In [4]:
df.drop(['REG', 'NOME_REGIONE', 'PROV', 'NOME_PROVINCIA', 'COD_PROVCOM', 'NOME_COMUNE'], axis=1, inplace=True)
df.head()

        DATA  TOTALE
0 2018-01-15       1
1 2018-01-20       1
2 2020-01-29       1
3 2015-01-30       1
4 2017-02-15       1

In [5]:
df=df.groupby('DATA').sum()
df.head()

            TOTALE
DATA
2015-01-01     109
2015-01-02     104
2015-01-03      85
2015-01-04      80
2015-01-05     100

In [6]:
df.to_csv('csv/serie_storica_8province.csv')