<h2> DECESSI REGISTRATI DALLA PROTEZIONE CIVILE </h2>

<p> Il DataFrame contiene i decessi COVID-19 dal <b>22 marzo 2020 </b> al <b>22 maggio 2020</b> per le province di: <b>Piacenza</b>, <b>Ravenna</b>, <b>Gorizia</b>, <b>Trieste</b>, <b>Pordenone</b>, <b>Sondrio</b>, <b>Ragusa</b> e <b>Rovigo</b>.
    </p>

In [7]:
import pandas as pd 
decessi_covid_pc = pd.read_csv('../csv/decessi_covid19_8province.csv')
decessi_covid_pc.head()

         data  decessi
0  2020-03-22     44.0
1  2020-03-23     33.0
2  2020-03-24     46.0
3  2020-03-25     32.0
4  2020-03-26     39.0

Prelevo i dati relativi al mese di <b>aprile</b> (unico mese completo).

In [8]:
decessi_covid_pc = decessi_covid_pc[decessi_covid_pc['data'] > '2020-03-31']
decessi_covid_pc = decessi_covid_pc[decessi_covid_pc['data'] < '2020-05-01']
decessi_covid_pc.head()

          data  decessi
10  2020-04-01     44.0
11  2020-04-02     32.0
12  2020-04-03     25.0
13  2020-04-04     26.0
14  2020-04-05     27.0

<h3>Creazione serie storica dei decessi COVID-19 Protezione Civile </h3>

In [9]:
decessi_covid_pc['data'] = pd.to_datetime(decessi_covid_pc['data'])
decessi_covid_pc = decessi_covid_pc.set_index('data')
decessi_covid_pc.head()

            decessi
data
2020-04-01     44.0
2020-04-02     32.0
2020-04-03     25.0
2020-04-04     26.0
2020-04-05     27.0

In [10]:
decessi_covid_pc = decessi_covid_pc.groupby(pd.Grouper(freq='M')).sum()
decessi_covid_pc.head()

            decessi
data
2020-04-30    625.0

In [11]:
ts_decessi_covid_pc = decessi_covid_pc['decessi']
ts_decessi_covid_pc

data
2020-04-30    625.0
Freq: M, Name: decessi, dtype: float64

<p><b>ts_decessi_covid_pc</b> è la serie storica che contiene i decessi causa COVID-19 a livello mensile delle province prese in esame nel mese di <b> aprile </b>.
    </p>

<h2>DECESSI REGISTRATI DALL'ISTAT</h2>

<p> Il DataFrame contiene i decessi totali dall'anno <b>2015</b> al <b>30 giugno 2020</b> per le province di: <b>Piacenza</b>, <b>Ravenna</b>, <b>Gorizia</b>, <b>Trieste</b>, <b>Pordenone</b>, <b>Sondrio</b>, <b>Ragusa</b> e <b>Rovigo</b>.
    </p>

In [12]:
df = pd.read_csv('../csv/serie_storica_8province.csv')
df.head()

         DATA  TOTALE
0  2015-01-01     109
1  2015-01-02     104
2  2015-01-03      85
3  2015-01-04      80
4  2015-01-05     100

In [13]:
df['DATA'] = pd.to_datetime(df['DATA'])

Seleziono i dati relativi ai decessi del mese di <b>aprile</b> per poter fare il confronto.

In [14]:
#PERIODO COVID: dal 1 aprile al 23 maggio
df_covid_period = df[df['DATA'] > '2020-03-31']  
df_covid_period = df_covid_period[df_covid_period['DATA'] < '2020-05-01']
df_covid_period.head()

           DATA  TOTALE
1917 2020-04-01     109
1918 2020-04-02     116
1919 2020-04-03     109
1920 2020-04-04     119
1921 2020-04-05     107

<h3>Creazione serie storica dei decessi totali ISTAT </h3>

In [15]:
df_covid_period = df_covid_period.set_index('DATA')
df_covid_period.head()

            TOTALE
DATA
2020-04-01     109
2020-04-02     116
2020-04-03     109
2020-04-04     119
2020-04-05     107

Somma dei decessi del mese di aprile.

In [16]:
df_covid_period = df_covid_period.groupby(pd.Grouper(freq='M')).sum()
df_covid_period.head()

            TOTALE
DATA
2020-04-30    2781

In [17]:
ts_covid_period = df_covid_period.TOTALE
ts_covid_period

DATA
2020-04-30    2781
Freq: M, Name: TOTALE, dtype: int64

<p><b>ts_covid_period</b> è la serie storica che contiene i decessi totali a livello mensile delle province prese in esame nel mese di <b>aprile </b>.
    </p>

<h2> DECESSI MODELLO SARIMA MENSILE </h2>

<p> Il DataFrame contiene i decessi secondo il modello predittivo <b>SARIMA</b> dall'anno <b>2015</b> al <b>30 giugno 2020</b>  a livello mensile per le province di: <b>Piacenza</b>, <b>Ravenna</b>, <b>Gorizia</b>, <b>Trieste</b>, <b>Pordenone</b>, <b>Sondrio</b>, <b>Ragusa</b> e <b>Rovigo</b>.</p>

In [18]:
predictions = pd.read_csv('../csv/predictions_SARIMA_8province.csv')

predictions.dropna(inplace=True)
predictions.head()

   Unnamed: 0  predicted_mean
0  2015-01-31        0.000000
1  2015-02-28     2652.124881
2  2015-03-31     2437.110999
3  2015-04-30     2394.542824
4  2015-05-31     2184.373532

In [19]:
predictions.rename(columns={'Unnamed: 0': 'Data', 'predicted_mean':'Totale'}, inplace=True)
predictions.head()

         Data       Totale
0  2015-01-31     0.000000
1  2015-02-28  2652.124881
2  2015-03-31  2437.110999
3  2015-04-30  2394.542824
4  2015-05-31  2184.373532

In [20]:
predictions['Data'] = pd.to_datetime(predictions['Data'])
predictions.Totale = pd.to_numeric(predictions.Totale)

Estrapolazione del dato predittivo per i decessi del mese di <b>aprile 2020</b>.

In [21]:
#PERIODO COVID: dal 22 marzo 2020 al 22 maggio 2020
predictions_covid_period = predictions[predictions['Data'] == '2020-04-30']
predictions_covid_period.head()

         Data       Totale
63 2020-04-30  2025.805988

<h3>Creazione serie storica dei decessi modello SARIMA MENSILE </h3>

In [22]:
predictions_covid_period = predictions_covid_period.set_index('Data')
predictions_covid_period.head()

                 Totale
Data
2020-04-30  2025.805988

In [23]:
ts_predictions_covid_period = predictions_covid_period.Totale
ts_predictions_covid_period

Data
2020-04-30    2025.805988
Name: Totale, dtype: float64

<b>ts_predictions_covid_period</b> contiene i decessi a livello mensile secondo il modello predittivo <b>SARIMA</b> delle province prese in esame nel mese di <b>aprile 2020 </b>.

<h1>Intervalli di Confidenza

<h3>Limite massimo

In [55]:
upper = pd.read_csv('../csv/predictions_SARIMA_upper.csv')
upper.head()

   Unnamed: 0  upper TOTALE
0  2015-01-31   4147.414829
1  2015-02-28   3103.888296
2  2015-03-31   2878.550647
3  2015-04-30   2835.960651
4  2015-05-31   2624.988122

In [56]:
upper.rename(columns={'Unnamed: 0': 'Data', 'upper TOTALE':'Totale'}, inplace=True)
upper['Data'] = pd.to_datetime(upper['Data'])
upper.Totale = pd.to_numeric(upper.Totale)
upper.head()

        Data       Totale
0 2015-01-31  4147.414829
1 2015-02-28  3103.888296
2 2015-03-31  2878.550647
3 2015-04-30  2835.960651
4 2015-05-31  2624.988122

In [57]:
upper = upper[upper['Data'] > '2020-03-31']
upper = upper[upper['Data'] < '2020-05-31']
upper = upper.set_index('Data')
upper.head()

                 Totale
Data
2020-04-30  2321.869705

In [58]:
upper = upper.Totale

<h3>Limite minimo

In [59]:
lower = pd.read_csv('../csv/predictions_SARIMA_lower.csv')
lower.head()

   Unnamed: 0  lower TOTALE
0  2015-01-31  -4147.414829
1  2015-02-28   2200.361466
2  2015-03-31   1995.671352
3  2015-04-30   1953.124998
4  2015-05-31   1743.758942

In [60]:
lower.rename(columns={'Unnamed: 0': 'Data', 'lower TOTALE':'Totale'}, inplace=True)
lower['Data'] = pd.to_datetime(lower['Data'])
lower.Totale = pd.to_numeric(lower.Totale)
lower.head()

        Data       Totale
0 2015-01-31 -4147.414829
1 2015-02-28  2200.361466
2 2015-03-31  1995.671352
3 2015-04-30  1953.124998
4 2015-05-31  1743.758942

In [61]:
lower = lower[lower['Data'] > '2020-03-31']
lower = lower[lower['Data'] < '2020-05-31']
lower = lower.set_index('Data')
lower.head()

                 Totale
Data
2020-04-30  1729.742272

In [62]:
lower = lower.Totale

<h1> CONFRONTO DELLE SERIE STORICHE </h1>

<p>Le <b>serie storiche</b> comprendono i dati che si riferiscono alle province di: <b>Piacenza</b>, <b>Ravenna</b>, <b>Gorizia</b>, <b>Trieste</b>, <b>Pordenone</b>, <b>Sondrio</b>, <b>Ragusa</b> e <b>Rovigo</b>
    <br />
    Il <b>periodo di riferimento</b> è il mese di <b>apriel 2020</b>. 
    </p>

<h3>Numero totale di decessi registrati dall'ISTAT nel mese di aprile nelle province di Piacenza, Ravenna, Gorizia, Trieste, Pordenone, Sondrio, Ragusa e Rovigo

In [63]:
sum(ts_covid_period)

2781

<h3>Numero di decessi causa COVID-19 confermati registrati nel mese di aprile nelle province di Piacenza, Ravenna, Gorizia, Trieste, Pordenone, Sondrio, Ragusa e Rovigo

In [64]:
c = sum(ts_decessi_covid_pc)
int(c)

625

<h3>Numero di decessi previsti dal modello SARIMA nel mese di aprile nelle province di Piacenza, Ravenna, Gorizia, Trieste, Pordenone, Sondrio, Ragusa e Rovigo

In [65]:
p = sum(ts_predictions_covid_period)
int(p)

2025

<p> <b>n:</b> decessi covid secondo il modello
    <br />
    <b>ts_covid_period:</b> decessi totali registrati dell'ISAT nel mese di aprile.
    <br />
    <b>ts_predictions_covid_period:</b> decessi previsti dal modello nel mese di aprile. 
</p>

<h1>Calcolo dei decessi COVID-19 secondo il modello predittivo

Differenza tra i decessi totali rilasciati dall'ISTAT e i decessi secondo la previsione del modello ARIMA.

In [66]:
n = ts_covid_period - ts_predictions_covid_period
n_upper = ts_covid_period - lower
n_lower = ts_covid_period - upper

<h2>Numero totale dei decessi COVID-19 previsti dal modello SARIMA nel mese di aprile per le province di Piacenza, Ravenna, Gorizia, Trieste, Pordenone, Sondrio, Ragusa e Rovigo

<h4>Valore medio

In [67]:
int(n)

755

<h4>Valore massimo

In [68]:
int(n_upper)

1051

<h4>Valore minimo

In [69]:
int(n_lower)

459

<h3>Numero totale dei decessi accertati COVID-19 nel mese di aprile per le province di <b>Piacenza</b>, <b>Ravenna</b>, <b>Gorizia</b>, <b>Trieste</b>, <b>Pordenone</b>, <b>Sondrio</b>, <b>Ragusa</b> e <b>Rovigo</b>.

In [48]:
m = ts_decessi_covid_pc.sum()
print(int(m))

625

<h3>Stima del numero dei decessi COVID-19 non registrati secondo il modello predittivo SARIMA nel mese di aprile per le province di Piacenza, Ravenna, Gorizia, Trieste, Pordenone, Sondrio, Ragusa e Rovigo

<h4>Valore medio

In [70]:
x = ts_covid_period - ts_predictions_covid_period - ts_decessi_covid_pc
x = x.sum()
print(int(x))

130

<h4>Valore massimo

In [72]:
x_upper = ts_covid_period - lower - ts_decessi_covid_pc
x_upper = x_upper.sum()
print(int(x_upper))

426

<h4>Valore minimo

In [73]:
x_lower = ts_covid_period - upper - ts_decessi_covid_pc
x_lower = x_lower.sum()
print(int(x_lower))

-165