<h1> Creazione serie storica dei decessi giornalieri dal 2015 al 30 aprile 2020 </h1>

In [8]:
import pandas as pd
df = pd.read_csv('csv/decessi.csv', encoding = "ISO-8859-1")
df.head()

,REG,PROV,NOME_REGIONE,NOME_PROVINCIA,NOME_COMUNE,COD_PROVCOM,TIPO_COMUNE,CL_ETA,GE,Data,Maschi,Femmine,Totale
0,1,1,Piemonte,Torino,Agliè,1001,1,7,609,09-06-2015,0,0,0
1,1,1,Piemonte,Torino,Agliè,1001,1,7,609,09-06-2016,0,0,0
2,1,1,Piemonte,Torino,Agliè,1001,1,7,609,09-06-2017,0,0,0
3,1,1,Piemonte,Torino,Agliè,1001,1,7,609,09-06-2018,0,0,0
4,1,1,Piemonte,Torino,Agliè,1001,1,7,609,09-06-2019,1,0,1

In [9]:
df.rename(columns={' Data': 'Data'}, inplace=True)

Il DataFrame è stato rielaborato eliminando le informazioni non necessarie ai fini della ricerca. Sono stati per cui eliminati i campi realitivi al luogo del decesso e al sesso del defunto. 

I campi necessari al fine di creare una serie storica sono il campo `Data` e il campo `Totale` che contiene il numero di decessi avvenuti in un determinato comune in una determinata data.

In [3]:
df.drop(['REG', 'PROV', 'NOME_REGIONE', 'NOME_PROVINCIA', 'NOME_COMUNE', 'COD_PROVCOM', 'TIPO_COMUNE',
                 'CL_ETA', 'GE', 'Maschi', 'Femmine'], axis=1, inplace=True)
df.head()

         Data Totale
0  09-06-2015      0
1  09-06-2016      0
2  09-06-2017      0
3  09-06-2018      0
4  09-06-2019      1

Successivamente sono stati eliminati i valori non rilevanti dal campo `Totale`.

In [4]:
df=df.set_index('Totale')
df=df.drop('n.d.', axis=0)
df=df.drop('0', axis=0)
df=df.reset_index()

Per poter sommare il campo `Totale` in base al valore del campo `Data` è necessario rendere i parametri del campo `Data` di tipo `datetime` e i parametri del campo `Totale` di tipo `int64`, così da poter creare una <b>serie storica</b> dove per ogni data giornaliera dal <b>1 gennaio 2015</b> al <b>30 aprile 2020</b> venga indicato il numero totale dei decessi registrati nei comuni presenti nel DataFrame iniziale.

In [5]:
df['Data'] = pd.to_datetime(df['Data'], format='%d-%m-%Y')
df['Totale'] = pd.to_numeric(df['Totale'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2913997 entries, 0 to 2913996
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   Totale  int64
 1   Data    datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 44.5 MB

In [7]:
df=df.groupby('Data').sum()
df.head()

            Totale
Data
2015-01-01    2632
2015-01-02    2182
2015-01-03    2215
2015-01-04    2264
2015-01-05    2301

In [8]:
df.to_csv('csv/decessi_tot.csv')

Il file `decessi_tot.csv` sarà impiegato per la creazione del modello predittivo <b>ARIMA</b>.