<h1> Creazione serie storica dei decessi giornalieri dal 2015 al 30 settembre 2020 </h1>

In [1]:
import pandas as pd
df = pd.read_csv('csv/serieStorica_30settembre2020.csv')
df.head(10)

,REG,NOME_REGIONE,PROV,NOME_PROVINCIA,COD_PROVCOM,NOME_COMUNE,DATA,TOTALE
0,12,Lazio,58,Roma,58091,Roma,2015-10-20,76
1,12,Lazio,58,Roma,58091,Roma,2016-10-20,70
2,12,Lazio,58,Roma,58091,Roma,2017-10-20,74
3,12,Lazio,58,Roma,58091,Roma,2018-10-20,66
4,12,Lazio,58,Roma,58091,Roma,2019-10-20,61
5,12,Lazio,58,Roma,58091,Roma,2015-12-28,69
6,12,Lazio,58,Roma,58091,Roma,2016-12-28,103
7,12,Lazio,58,Roma,58091,Roma,2017-12-28,98
8,12,Lazio,58,Roma,58091,Roma,2018-12-28,105
9,12,Lazio,58,Roma,58091,Roma,2019-12-28,81

In [2]:
#numero di record
index = df.index
record = len(index)
print(record)

2289159

In [3]:
import numpy as np
deceduti = df['TOTALE']
print('mean', np.mean(deceduti))
print('min', np.min(deceduti))
print('max', np.max(deceduti))

mean 1.6407711303583543
min 1
max 200

Il DataFrame è stato rielaborato eliminando le informazioni non necessarie ai fini della ricerca. Sono stati per cui eliminati i campi realitivi al luogo del decesso (essendo un'analisi a livello nazionale)e al sesso del defunto. 

I campi necessari al fine di creare una serie storica sono il campo `Data` e il campo `Totale` che contiene il numero di decessi avvenuti in un determinato comune in una determinata data.

In [4]:
df.drop(['REG', 'NOME_REGIONE', 'PROV', 'NOME_PROVINCIA', 'NOME_COMUNE', 'COD_PROVCOM'], axis=1, inplace=True)
df.head()

         DATA  TOTALE
0  2015-10-20      76
1  2016-10-20      70
2  2017-10-20      74
3  2018-10-20      66
4  2019-10-20      61

Per poter sommare il campo `Totale` in base al valore del campo `Data` è necessario rendere i parametri del campo `Data` di tipo `datetime` e i parametri del campo `Totale` di tipo `int64`, così da poter creare una <b>serie storica</b> dove per ogni data giornaliera dal <b>1 gennaio 2015</b> al <b>31 agosto 2020</b> venga indicato il numero totale dei decessi registrati nei comuni presenti nel DataFrame iniziale.

In [5]:
df['DATA'] = pd.to_datetime(df['DATA'])
df['TOTALE'] = pd.to_numeric(df['TOTALE'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2289159 entries, 0 to 2289158
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   DATA    datetime64[ns]
 1   TOTALE  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 34.9 MB

In [6]:
df=df.groupby('DATA').sum()
df.head(10)

            TOTALE
DATA
2015-01-01    2632
2015-01-02    2182
2015-01-03    2215
2015-01-04    2264
2015-01-05    2301
2015-01-06    2243
2015-01-07    2181
2015-01-08    2207
2015-01-09    2292
2015-01-10    2359

In [7]:
df.to_csv('csv/serieStorica_decessi_tot.csv')

Il file `sereiStorica_decessi_tot.csv` sarà impiegato per la creazione del modello predittivo <b>ARIMA</b> e <b>SARIMA</b>.