<h1> 
Creation of time series of daily deaths from 2015 to 30 April 2020 </h1>

In [1]:
import pandas as pd
df = pd.read_csv('csv/deaths.csv', encoding = "ISO-8859-1")
df.head()

,REG,PROV,NOME_REGIONE,NOME_PROVINCIA,NOME_COMUNE,COD_PROVCOM,TIPO_COMUNE,CL_ETA,GE,Data,Maschi,Femmine,Totale
0,1,1,Piemonte,Torino,Agliè,1001,1,7,609,09-06-2015,0,0,0
1,1,1,Piemonte,Torino,Agliè,1001,1,7,609,09-06-2016,0,0,0
2,1,1,Piemonte,Torino,Agliè,1001,1,7,609,09-06-2017,0,0,0
3,1,1,Piemonte,Torino,Agliè,1001,1,7,609,09-06-2018,0,0,0
4,1,1,Piemonte,Torino,Agliè,1001,1,7,609,09-06-2019,1,0,1

In [9]:
df.rename(columns={' Data': 'Data'}, inplace=True)


The DataFrame has been reworked eliminating unnecessary information for research purposes. Therefore, the fields relating to the place of death and the sex of the deceased have been eliminated.

The fields needed to create a time series are the `Data` field and the` Totale` field which contains the number of deaths that occurred in a given municipality on a given date.

In [3]:
df.drop(['REG', 'PROV', 'NOME_REGIONE', 'NOME_PROVINCIA', 'NOME_COMUNE', 'COD_PROVCOM', 'TIPO_COMUNE',
                 'CL_ETA', 'GE', 'Maschi', 'Femmine'], axis=1, inplace=True)
df.head()

         Data Totale
0  09-06-2015      0
1  09-06-2016      0
2  09-06-2017      0
3  09-06-2018      0
4  09-06-2019      1


The irrelevant values ​​from the `Totale` field were then deleted.

In [4]:
df=df.set_index('Totale')
df=df.drop('n.d.', axis=0)
df=df.drop('0', axis=0)
df=df.reset_index()

In order to add the `Totale` field based on the value of the` Data` field it is necessary to make the parameters of the `Date` field of type` datetime` and the parameters of the `Totale` field of type` int64`, so as to create a <b> historical series </b> where for each daily date from <b> 1 January 2015 </b> to <b> 30 April 2020 </b>, the total number of deaths registered in the municipalities present in the initial DataFrame is indicated.

In [5]:
df['Data'] = pd.to_datetime(df['Data'], format='%d-%m-%Y')
df['Totale'] = pd.to_numeric(df['Totale'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2913997 entries, 0 to 2913996
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   Totale  int64
 1   Data    datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 44.5 MB

In [7]:
df=df.groupby('Data').sum()
df.head()

            Totale
Data
2015-01-01    2632
2015-01-02    2182
2015-01-03    2215
2015-01-04    2264
2015-01-05    2301

In [8]:
df.to_csv('csv/decessi_tot.csv')


The `deaths_tot.csv` file will be used to build the <b> ARIMA </b> predictive model.